@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (var product in Model.Products)
{
    <div>
        <img alt="picture" src="@product.Url" width="200" height="150" />
        <h3>@product.Name</h3>
        <p>@product.Description</p>
        <p style="color:crimson;">@product.Price</p>
    </div>
    <form method="post">
        <input name="key" value="@product.RowKey" type="hidden"/>
        <input type="submit" value="Order" class="btn btn-success"/>
    </form>
    <br/>
    <br/>
}